@model PetShelter.ViewModels.PetVaccineDetailsVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PetId)
        </dd>>
        <dt>
            @Html.DisplayNameFor(model => model.VaccineId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VaccineId)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions d-lg-none-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>