@using PetShelter.Shared.Enums
@using System.Security.Claims
@model IEnumerable<PetShelter.ViewModels.PetDetailsVM>

@{
    ViewBag.Title = "Index";
}

<h2>Pet</h2>
<p>
    @if (Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Employee.ToString() ||

    Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.Admin.ToString())
    {
        @Html.ActionLink("Create New", "Create")
    }
    else if (Context.User?.FindFirst(ClaimTypes.Role)?.Value == UserRole.User.ToString())
    {
        @Html.ActionLink("Give Pet", "GivePet")
    }
</p>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdopted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEuthanized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShelterId)
        </th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelitem => item.Name)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Age)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.Color)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.IsAdopted)
            </th>
            <th>
                @Html.DisplayFor(modelitem => item.IsEuthanized)
            </th>

            <th>
                @Html.DisplayFor(modelitem => item.ShelterId)
            </th>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Adopt Pet", "AdoptPet", new { id = item.Id })|
                @Html.ActionLink("Vaccine Pet", "VaccinatePet", new { id = item.Id }) |

            </td>
        </tr>
    }
</table>
