@model PetShelter.ViewModels.ShelterEditVM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            @Html.LabelFor(model => model.PetCapacity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PetCapacity)
                @Html.ValidationMessageFor(model => model.PetCapacity)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.LocationId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LocationId, Model.LocationList, "Choose a location...",
                         new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.LocationId)
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "List")
</div>